 *{
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
            /* outline: 1px solid pink; */
        }
      
    .baloo-2{
        font-family: "Baloo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
}

        body {
    background-color: #FAF3D3;
    font-family: "Baloo 2", sans-serif;
}

.header{
    width: 90.6%;
    height: 90px;
    background-color: #6593c0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: fixed;      
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.headerword{
    display: flex;
   margin-right: 120px;
    align-items: center;
}    

    .headerword a{
        color: #201F1F;
        text-decoration: none;
        font-size: 25px;
    }

    .left{
        margin-right: 200px;
    }
    .right{
    margin-left: 95px;
}
    .left, .right {
    display: flex;
    position: relative;
    /* left: 20px; */
    justify-content: center; 
    gap: 100px;
    
    /* width: 500px;  */
}



    .middle img{
        width: 5%;
        position: absolute;
        left: 50%;
        top: 2px;
        transform: translateX(-50%);
        padding: 0;
        }

    .ordernow{
        position: absolute;
        top: 21px;
        right: 200px;
        color: #FAF3D3;
        border-radius: 50px;
        font-size: 25px;
        font-weight: 600;
        padding: 3px 25px;
        background-color: #CD2D1A;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
    } 

    .banner nav > div{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .header .icons .usericon {
      height: 60px;
      width: 60px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 16px;
      right: 105px;
    }

    .header .icons .carticon {
      height: 50px;
      width: 50px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 22px;
      right:48px;
    }

.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;     
}

.filter{
    opacity: 50%;
}

.banner h1 {
    position: relative;
    z-index: 10;    
    color: #ffffff;
    font-size: 150px;
    text-align: center;
    padding-top: 500px;
    padding-right: 100px;
    color: #CD2D1A;
    line-height: 0.8;
    font-weight: 900;
    text-align: end;
}

.intro1{
    height: 900px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    padding: 80px 0;
}


.intro1::before{
    content: "";
    width: 100%;
    height: 60%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background-color: #CD2D1A;
    opacity: 70%;
    z-index: -1;
}

.intro1 .story-text{
     width: 80%;
    height: 353px;
    font-size: 30px;
     font-weight: 400;
    color: #FFF3F3;
    justify-self: flex-start;
    align-self: center;
     margin-top: 400px;
     position: relative;
     left: 30px;
}

.intro1 .story-img img {
            width: 90%;
            display: block;
            border-radius: 20px;
            justify-self: flex-end;
            margin-top: 200px;
            position: relative;
            left: 100px;
          }

.intro2 {
           height: 900px;
          position: relative;
          display: grid;
          grid-template-columns: 1fr 1fr; 
          align-items: center;
          gap: 40px;
          padding: 80px 0;
}
/* 背景底色 */
          .intro2::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 67%;
            height: 50%;
            background-color: #88A9C6;
            z-index: -1;
          }

          .intro2 .story-text {
            width: 80%;
            height: 353px;
            font-size: 30px;
            font-weight: 400;
             color: #FFF3F3;
            justify-self: flex-end;
            text-align: end;
            align-self: center;
              margin-top: 550px;
            position: relative;
            left: 20px;
          }

          .intro2 .story-img img {
            width: 90%;
            display: block;
            border-radius: 20px;
             margin-top: 150px;
              position: relative;
            right: 80px;
            z-index: -1;
          }
        .title{
            text-align: center;
            line-height: 0.9;
            transform: translateY(-0px);
        }
         .title h1{
            left: 0;
            right: 0;
            color: #F8AF00;
            font-size: 130px;
            margin: auto;
            padding: 0;
          }
        .title h3{
            color: #F8AF00;
            font-size: 40px;
        }

        .blueword{
        color: #336FA8;
            font-size: 60px;
        }

        .redword{
            color: #CD2D1A;
            font-size: 60px;
        }

        .prepare{
            position: relative;
            height: 1500px;
            margin-top: 250px;
        }
        .grid{
            height: 900px;
            display: grid;
            grid-template-columns: repeat(3,400px);
            grid-template-rows: repeat(3,300px);
            justify-content: space-around;
            column-gap: 10px;
            margin-top: 50px;
            transform:translateY(50px) ;
        }
        .grid .p1{
            font-size: 25px;
            color: #413B3B;
            font-weight: 500;
        }

.p2{
    grid-row: 2/3;
    grid-column: 3/4;
    font-size: 25px;
    color: #413B3B;
    font-weight: 500;
}

.p3{
    grid-row: 3/4;
    grid-column: 1/2;
    font-size: 25px;
    color: #413B3B;
    font-weight: 500;
}
.middleburger{
    width: 100%;
    height: 100%;
    grid-row: 1/3;
    grid-column: 2;
}
.exmenu{
    width: 280px;
    height: 61px;
    background-color: #CD2D1A;
    border-radius: 40px;
    text-align: center;
    align-content: center;
    position: absolute;
    top: 1050px;
    right: 50%;
    transform: translateX(50%);
}

.exmenu a{
    text-decoration: none;
    color: #FAF3D3;
    font-size: 25px;
    font-weight: 700; 
}

.endintro{
    height: auto;
    background-image: url(/background/yellow_cloud.png);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.endintro img{
    width: 600PX;
    height: 700px;
    margin-bottom: 100px;
    border-radius: 40px;
}

.endtext{
    width: 810px;
    height: auto;
    color: #413B3B;
    font-size: 30px;
    /* margin-bottom: 100px; */
     font-weight: 500;
}

.social{
    width: 5%;
    display: flex;
    gap: 10px;
    fill: #CD2D1A;
    position: absolute;
   top: 58px;
   right: 602px;

}

.footer{
    width: 100%;
    height: 120px;
    background-color: #6593C0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #CD2D1A;
    font-weight: 500;
    margin: 0;
    padding: 0;
    position: relative;
}
.footer img{
height: 80%;
}
