*{
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
            /* outline: 1px solid pink; */
        }
      
    .baloo-2{
        font-family: "Baloo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
}

        body {
    background-color: #FAF3D3;
    font-family: "Baloo 2", sans-serif;
}

.header{
    width: 90.6%;
    height: 90px;
    background-color: #6593c0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: fixed;      
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.headerword{
    display: flex;
   margin-right: 120px;
    align-items: center;
}    

    .headerword a{
        color: #201F1F;
        text-decoration: none;
        font-size: 25px;
    }

    .left{
        margin-right: 200px;
    }
    .right{
    margin-left: 95px;
}
    .left, .right {
    display: flex;
    position: relative;
    justify-content: center; 
    gap: 100px;
}

    .middle img{
        width: 5%;
        position: absolute;
        left: 50%;
        top: 2px;
        align-items: center;
        transform: translateX(-50%);
        }

    .ordernow{
        position: absolute;
        top: 21px;
        right: 200px;
        color: #FAF3D3;
        border-radius: 50px;
        font-size: 25px;
        font-weight: 600;
        padding: 3px 25px;
        background-color: #CD2D1A;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
    } 

    .banner nav > div{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .header .icons .usericon {
      height: 60px;
      width: 60px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 16px;
      right: 105px;
    }

    .header .icons .carticon {
      height: 50px;
      width: 50px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 22px;
      right:48px;
    }

.banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;     
}
.filter{
    opacity: 50%;
    height: 105.5%;
}

.banner h1 {
    position: relative;
    z-index: 10;    
    color: #ffffff;
    font-size: 150px;
    text-align: center;
    padding-top: 500px;
    padding-right: 100px;
    color: #CD2D1A;
    line-height: 0.8;
    font-weight: 900;
    text-align: end;
}
.cartbox{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* gap: 300px; */
    align-items: start;
    position: relative;
  
}
.ordercart{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    /* transform: translateX(25%); */
    position: relative;
}
.title{
    font-size: 80px;
    color: #F8AF00;
    font-weight: 600;
    margin-top: 120px;
    margin-bottom: 60px;
    text-align: center;
}

.cardlist{
    width: 100%;
    height: 30%;
    color: #336FA8;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    gap: 70px;
    align-items: center;
    position: relative;
}

.cardlist::before{
    content: "";
    position: absolute;
    bottom: 0px;
    height: 3px;
    width: 100%;
    background-color: #CD2D1A;
    border-radius: 200px;
}

.cardlist img{
    width: 120px;
    height: auto;
}
.numberbox{
    width: 100px;
    height: 50px;
    font-weight: 500px;
    display: flex;
    border: 4px solid #CD2D1A;
    background-color: #FFFFFF;
    border-radius: 30px;
    justify-content: space-evenly;
    align-items: center;
     background-color: #FAF3D3;
}

.doubleline{
    display: flex;
    text-align: center;
}

.setword{
    font-size: 18px;
}
.total{
    font-size: 30px;
    font-weight: 700;
    color: #336FA8;
    text-align: end;
    margin-right: 55px;
    margin-top: 20px;
    line-height: 1.5;
}

.list{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.namelist{
    width: 15%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 200px;
    top: 50px;
    /* border: 2px solid blue; */
   
}
.namelist label{
    color: #F8AF00;
    font-size: 20px;
    font-weight: 500;
}

.namelist input{
    border: 4px solid #336FA8;
    border-radius: 30px;
    height: 40px;
    background-color: #FAF3D3;
}

#pay{
    border: 4px solid #336FA8;
    border-radius: 30px;
    height: 40px;
    background-color: #FAF3D3;

}

.buttons{
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 50px;
    
}
.buttons button{
    width: 155px;
    height: 44px;
    background-color:#CD2D1A;
    color: #FAF3D3;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-radius: 50px;
}
.social{
    width: 5%;
    display: flex;
    gap: 10px;
    fill: #CD2D1A;
    position: relative;
   left:1200px;
   top: 106px;
 
}

.footer{
    width: 100%;
    height: 120px;
    background-color: #6593C0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #CD2D1A;
    font-weight: 500;
}
.footer img{
height: 80%;
}