 * {
     margin: 0;
     padding: 0;
     list-style: none;
     box-sizing: border-box;
     /* outline: 1px solid pink; */
 }

 .baloo-2 {
     font-family: "Baloo 2", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
 }

 body {
     background-color: #FAF3D3;
     font-family: "Baloo 2", sans-serif;
     overflow: scroll;
 }

 .header {
     width: 90.6%;
     height: 90px;
     background-color: #6593c0;
     border-radius: 50px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-weight: 600;
     position: fixed;
     top: 10px;
     left: 50%;
     transform: translateX(-50%);
     z-index: 9999;
 }

 .headerword {
     display: flex;
     margin-right: 120px;
     align-items: center;
 }

 .headerword a {
     color: #201F1F;
     text-decoration: none;
     font-size: 25px;
 }

 .left {
     margin-right: 200px;
 }

 .right {
     margin-left: 95px;
 }

 .left,
 .right {
     display: flex;
     position: relative;
     justify-content: center;
     gap: 100px;
 }

 .middle img {
     width: 5%;
     position: absolute;
     left: 50%;
     top: 2px;
     transform: translateX(-50%);
 }

 .ordernow {
     position: absolute;
     top: 21px;
     right: 200px;
     color: #FAF3D3;
     border-radius: 50px;
     font-size: 25px;
     font-weight: 600;
     padding: 3px 25px;
     background-color: #CD2D1A;
     display: flex;
     justify-content: center;
     align-content: center;
     text-decoration: none;
 }

 .banner nav>div {
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;

 }

 .header .icons .usericon {
     height: 60px;
     width: 60px;
     color: #201F1F;
     transition: color 0.3s;
     position: absolute;
     top: 16px;
     right: 105px;
 }

 .header .icons .carticon {
     height: 50px;
     width: 50px;
     color: #201F1F;
     transition: color 0.3s;
     position: absolute;
     top: 22px;
     right: 48px;
 }

 .bannerpic {
     height: 902px;
     width: 100%;
     background-color: #DDD8CC;
     position: absolute;
     top: 0;
     z-index: -2;
 }

 .slogan {
     text-align: center;
     font-size: 70px;
     font-weight: 800;
     color: #336FA8;
     line-height: 1.2;
     margin: 80px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 230px;
 }

 .line1 {
     transform: translateX(-50%);
 }

 .line2 {
     transform: translatex(50%);
 }

 .bannerfoodpic {
     display: flex;
 }

 .good img {
     position: absolute;
     bottom: 380px;
     left: 390px;

 }

 .good:hover img {
     animation: wow_left 1s infinite ease-in-out;
 }

 @keyframes wow_left {
     0% {}

     50% {
         transform-origin: right bottom;
         scale: 1.5;
     }

     100% {}
 }

 .good a {
     display: inline-block;
     position: relative;
     background-color: #336FA8;
     font-size: 35px;
     color: #FAF3D3;
     border: none;
     padding: 20px 30px;
     border-radius: 50px;
     font-weight: 900;
     text-decoration: none;
     top: 50px;
     left: 470px;
 }

 .bannerfoodpic {
     position: relative;
 }

 .foodpic1 img {
     width: 346px;
     height: 284px;
     position: absolute;
     right: 470px;
     top: 110px;
     z-index: 5;
 }

 .foodpic2 img {
     width: 240px;
     height: 460px;
     position: absolute;
     top: -75px;
     right: 320px;
 }

 .foodpic3 img {
     width: 250px;
     height: 380px;
     position: absolute;
     top: 0px;
     right: 730px;
 }

 /* banner紅色格子 */
 .red {
     min-width: 100%;
 }

 .box {
     display: flex;
     flex-wrap: nowrap;
     overflow: hidden;
     background-color: #DDD8CC;
     position: relative;
     top: 70px;
     z-index: -1;
     justify-content: space-between;
     border-top: 6px solid #CD2D1A;
     padding: 0;
 }

 .item:nth-child(odd) {
     width: 130px;
     height: 130px;
     background-color: #CD2D1A;
     font-size: 60px;
     margin: 0;
 }

 .item:nth-child(even) {
     width: 130px;
     height: 130px;
     background-color: transparent;
     font-size: 60px;
     margin: 0;
 }

 .box2 {
     width: 100%;
     height: 130px;
     display: flex;
     position: relative;
     justify-content: space-between;
     top: 62px;
     left: 0px;
     z-index: -2;
 }

 .box2 .item2:nth-child(even) {
     width: 130px;
     height: 130px;
     background-color: #CD2D1A;
     font-size: 60px;
     margin: 0;
 }

 .box2 .item2:nth-child(odd) {
     width: 130px;
     height: 130px;
     background-color: transparent;
     font-size: 60px;
     margin: 0;
 }

 /* 關於我們 */

 .aboutus .bgpic img {
     width: 100%;
     height: 80%;
     position: absolute;
     left: 0;
     top: 200px;
     margin-bottom: 0;
 }

 section {
     width: 100%;
     height: 1000px;
     display: flex;
     position: relative;

 }

 section .logo img {
     width: 294px;
     height: 279px;
     transform: rotate(-15deg);
     margin-top: 100px;
     padding-left: 20px;
 }

 .aboutus .pic .aboutpic1 img {
     width: 300px;
     height: 450px;
     position: absolute;
     top: 500px;
     left: 150px;
     border-radius: 30px;
 }

 .aboutus .pic .aboutpic2 img {
     width: 350px;
     height: 450px;
     position: absolute;
     top: 400px;
     left: 370px;
     border-radius: 50%;
     z-index: 1;
 }

 .aboutus .pic .aboutpic3 img {
     width: 300px;
     height: 450px;
     position: absolute;
     top: 350px;
     left: 670px;
     border-radius: 30px;
 }

 .aboutus .pic .aboutpic4 img {
     width: 400px;
     height: 200px;
     position: absolute;
     top: 650px;
     left: 700px;
     transform: rotate(-35deg);
 }

 .aboutus .title h1 {
     font-size: 100px;
     width: 1000px;
     display: flex;
     color: #CD2D1A;
     font-size: 180px;
     text-shadow:
         -10px 10px 0px rgb(248, 175, 0),
         -20px 20px 0px rgba(51, 111, 168);
     position: relative;
     top: 90px;
     left: 500px;
     z-index: 4;
 }

 .aboutus .text {
     width: 400px;
     height: 240px;
     font-size: 23px;
     font-weight: 500;
     z-index: 1;
     position: relative;
     top: 380px;
     right: 120px;
 }

 .aboutus .learnmore a {
     background-color: #CD2D1A;
     border-radius: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 30px;
     font-weight: 800;
     text-decoration: none;
     color: #FAF3D3;
     width: 220px;
     height: 65px;
     position: absolute;
     right: 415px;
     bottom: 100px;
 }

 .learnmore img {
     position: absolute;
     /* width: 70px; */
     bottom: 140px;
     right: 330px;
     transform: scaleX(-1);
 }

 .learnmore:hover img {
     animation: wow_right 1s infinite ease-in-out;
 }

 @keyframes wow_right {
     0% {}

     50% {
         transform-origin: bottom;
         scale: 1.5;
     }

     100% {}
 }

 /* 最新消息 */
 .news {
     width: 100%;
     height: 890px;
     position: relative;
     display: flex;
     background-image: url(./background/newsbg.png);
     background-repeat: no-repeat;
 }

 .news .newstext h1 {
     color: #CD2D1A;
     font-size: 100px;
     font-size: 170px;
     text-shadow:
         -10px 10px 0px rgb(248, 175, 0),
         -25px 20px 0px rgba(51, 111, 168);
     position: absolute;
     left: 500px;
 }

 .news .newsmore {
     display: flex;
     width: 120px;
     height: 50px;
     background-color: #F8AF00;
     border-radius: 50px;
     justify-items: center;
     gap: 5px;
     position: absolute;
     right: 400px;
     top: 200px;
     z-index: 2;
 }

 .news .newsmore a {
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     color: #FFFFFF;
     font-size: 25px;
     font-weight: 900;
     position: relative;
     left: 10px;
 }

 .newsmore svg {
     width: 30px;
     height: 100%;
     display: flex;
     fill: #FFFFFF;
     position: relative;
     left: 10px;
 }

 .newsbox {
     width: 600px;
     height: 600px;
     background-color: #F9D379;
     border-radius: 100px;
     opacity: 90%;
     position: relative;
     left: 950px;
     top: 150px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;

 }

 .newslist {
     position: relative;
     padding: 20px 0px 0px 60px;
     color: #343333;
 }

 /* 底線 */
 .newslist::after {
     content: "";
     position: absolute;
     bottom: 10px;
     margin-right: 33px;
     right: 0;
     width: 90%;
     height: 3px;
     border-radius: 100px;
     background-color: #343333;
 }

 .newstitle {
     display: flex;
     align-items: center;
     justify-content: flex-start;
     gap: 100px;
 }

 .tag {
     font-weight: 900;
     font-size: 25px;
 }

 .date {
     font-size: 16px;
 }

 .text {
     font-size: 20px;
 }

 .news-righticon svg {
     position: relative;
     left: 445px;
     bottom: 40px;
     fill: #343333;
     width: 40px;
 }



 /* 主頁菜單 */

 .product {
     width: 100%;
     height: 1000px;
     background-image: url(./background/newsbg.png);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;

 }

 .product .title {
     position: absolute;
     top: 60px;
     left: 50%;
     transform: translateX(-50%);
 }

 .product .title h1 {
     color: #CD2D1A;
     font-size: 70px;
     text-shadow:
         -10px 5px 0px rgb(248, 175, 0),
         -20px 10px 0px rgba(51, 111, 168);
 }

 .wowicon {
     width: 90px;
     height: 90px;
     position: absolute;
     top: -20px;
     left: -120px;
     transform: rotate(-10deg);
 }

 .product .wrap {
     width: 85%;
     margin: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;

 }

 .product .wrap .card {
     width: 30%;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 .small {
     width: 200px;

 }

 .big {
     width: 320px;
 }


 .smallh {
     padding: 5px 50px;
     background-color: #FFF796;
     color: #413B3B;
     font-size: 20px;
     border-radius: 30px;
     transform: translateY(50%);
     z-index: 2;

 }

 .smallp {
     width: 280px;
     height: 206px;
     padding: 10px 30px;
     background-color: #336FA8;
     color: #FFFFFF;
     font-size: 15px;
     border-radius: 30px;
     align-content: center;
     opacity: 90%;
 }


 .bigh {
     padding: 8px 70px;
     background-color: #FFF796;
     color: #413B3B;
     font-size: 30px;
     border-radius: 30px;
     transform: translateY(50%);
     z-index: 2;

 }

 .bigp {
     width: 432px;
     height: 318px;
     padding: 10px 25px;
     background-color: #336FA8;
     color: #FFFFFF;
     font-size: 23px;
     border-radius: 30px;
     opacity: 90%;
     align-content: center;
 }

 .viewmenu {
     background-color: #FAF3D3;
     text-decoration: none;
     width: 300px;
     height: 57px;
     position: absolute;
     right: 800px;
     bottom: 80px;
     border-radius: 40px;
     text-align: center;
     padding: 7px 5px;
 }

 .viewmenu a {
     font-size: 30px;
     font-weight: bold;
     text-decoration: none;
     color: #CD2D1A;
 }

 .menuarrow svg {
     fill: #CD2D1A;
     width: 60px;
     height: 60px;
     display: flex;
 }

 .menuarrow .leftarrow {
     position: absolute;
     top: 400px;
     left: 150px;
 }

 .menuarrow .rightarrow {
     position: absolute;
     top: 400px;
     right: 150px;
 }

 /* location */

 .location {
     width: 100%;
     height: 1200px;
     display: flex;
     flex-direction: column;
     align-items: center;
     overflow: hidden;
 }

 .redicon img {
     width: 60px;
     height: 60px;
 }

 .redicon .wowredright {
     transform: rotate(140deg);
     position: absolute;
     right: 620px;
     top: 100px;
 }

 .redicon .wowredleft {
     transform: rotate(-45deg);
     position: absolute;
     left: 600px;
     top: 100px;
 }

 .lotitle {
     text-align: center;
     margin-bottom: 100px;
     margin-top: 70px;
 }

 .lotitle h3 {
     color: #CD2D1A;
     font-size: 70px;
     text-shadow:
         -8px 5px 0px rgb(248, 175, 0),
         -16px 10px 0px rgba(51, 111, 168);
 }

 .location-content {
     width: 85%;
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
 }

 .contactleftbox {
     width: 45%;
     display: flex;
     flex-direction: column;
     gap: 24px;
 }

 .lobox {
     width: 550px;
     min-height: 130px;
     border: 16px solid #336FA8;
     border-radius: 30px;
     box-sizing: border-box;
     padding: 18px 22px;
     display: flex;
     gap: 16px;
     align-items: flex-start;
     margin-left: 30%;
     background-color: #FAF3D3;
 }

 .lobox svg {
     width: 30px;
     height: 30px;
     flex-shrink: 0;
     fill: #CD2D1A;
 }

 .txt {
     display: block;
     font-weight: 500;
     margin-bottom: 4px;
     color: #413B3B;
     font-size: 23px;
 }

 .txt .boxtitle {
     font-size: 40px;
     font-weight: 800;
 }


 .map {
     width: 45%;
     display: flex;
     margin-top: 110px;
 }

 .map iframe {
     width: 100%;
     display: block;
     border-radius: 20px;
 }

 .mapbun {
     width: 40%;
     height: auto;
     position: absolute;
     top: -5px;
     right: 0;
     z-index: -1;
 }

 .mapham {
     position: absolute;
     top: 0;
     width: 100%;
     height: auto;
     right: 0;
     z-index: -1;
     transform: rotate(0deg);
 }

 .mapcz {
     position: absolute;
     top: 110px;
     left: 5px;
     width: 120%;
     height: auto;

     z-index: -1;
     transform: rotate(10deg);
 }

 .social {
     width: 5%;
     display: flex;
     gap: 10px;
     fill: #CD2D1A;
     position: relative;
     left: 1200px;
     top: 106px;

 }

 .footer {
     width: 100%;
     height: 120px;
     background-color: #6593C0;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 50px;
     color: #CD2D1A;
     font-weight: 500;
 }

 .footer img {
     height: 80%;
 }