 *{
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
            /* outline: 1px solid pink; */
        }
      
    .baloo-2{
        font-family: "Baloo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
}

        body {
    background-color: #FAF3D3;
    font-family: "Baloo 2", sans-serif;
}

.header{
    width: 90.6%;
    height: 90px;
    background-color: #6593c0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: fixed;      
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
.headerword{
    display: flex;
   margin-right: 120px;
    align-items: center;
}    

    .headerword a{
        color: #201F1F;
        text-decoration: none;
        font-size: 25px;
    }

    .left{
        margin-right: 200px;
    }
    .right{
    margin-left: 95px;
}
    .left, .right {
    display: flex;
    position: relative;
    justify-content: center; 
    gap: 100px;
}

    .middle img{
        width: 5%;
        position: absolute;
        left: 50%;
        top: 2px;
        align-items: center;
        transform: translateX(-50%);
        }

    .ordernow{
        position: absolute;
        top: 21px;
        right: 200px;
        color: #FAF3D3;
        border-radius: 50px;
        font-size: 25px;
        font-weight: 600;
        padding: 3px 25px;
        background-color: #CD2D1A;
        display: flex;
        justify-content: center;
        align-content: center;
        text-decoration: none;
    } 

    .banner nav > div{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .header .icons .usericon {
      height: 60px;
      width: 60px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 16px;
      right: 105px;
    }

    .header .icons .carticon {
      height: 50px;
      width: 50px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 22px;
      right:48px;
    }

     .banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;     
}
.filter{
    opacity: 40%;
    height: 781px;
}

.banner h1 {
    position: relative;
    z-index: 10;    
    color: #ffffff;
    font-size: 150px;
    text-align: center;
    padding-top: 500px;
    padding-right: 100px;
    color: #CD2D1A;
    line-height: 0.8;
    font-weight: 900;
    text-align: end;
}

.productsnav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 64.3%;
    height: 130px;
    border-top:5px solid #CD2D1A ;
    border-bottom:5px solid #CD2D1A ;
    margin: 150px auto 20px;
}
.productsnav a{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #413B3B;
}
.productsnav a::before {
  content: "";
  position: absolute;
  left:-69px;           
  top: 50%;
  transform: rotate(90deg);
  flex-direction: column;
  width: 40px;
  height: 5px;
  background-color: #413B3B;  
  border-radius: 50px;
}

  .productsnav a:first-child::before{
    content: none;
  }


/* 漢堡菜單列 */
.productcard h1{
    font-size: 120px;
    color: #336FA8;
    margin-left: 350px;
 
   
   
}

.menuburgergrid{
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: repeat(2,600px);
   justify-content: center;
    margin: auto;
    /* border: 2px solid red; */
    gap: 50px;
    justify-content: space-evenly;
}

.menucard{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: #336FA8;
    font-size: 18px;
    font-weight: 600;
}
.menupic img{
    width: 100%;
    height: 90%;
    padding-bottom:10px ;
}
.menupic_ck img{
    width: 100%;
    height: 90%;
    
}
.menutext{
    text-align: center;
}

.addcart{
    width: 200px;
    height: 53px;
    background-color: #CD2D1A;
    font-size: 25px;
    color: #FAF3D3;
    border: none;
    border-radius: 50px;
    margin: 40px;
    font-weight: 600;
}

.social{
    width: 5%;
    display: flex;
    gap: 10px;
    fill: #CD2D1A;
    position: relative;
   left:1200px;
   top: 106px;
 
}

.footer{
    width: 100%;
    height: 120px;
    background-color: #6593C0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #CD2D1A;
    font-weight: 500;
}
.footer img{
height: 80%;
}