*{
            margin: 0;
            padding: 0;
            list-style: none;
            box-sizing: border-box;
        }
      
    
    .baloo-2{
        font-family: "Baloo 2", sans-serif;
        font-optical-sizing: auto;
        font-weight:weight;
        font-style: normal;
}



    body {
        background-color: #FAF3D3;
        font-family: "Baloo 2", sans-serif;
    }

        
    


.header{
    width: 90.6%;
    height: 110px;
    background-color: #6593c0;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 600;
    position: fixed;      
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}
    
    .header a{
        color: #201F1F;
        text-decoration: none;
        font-size: 25px;
    }


    .left {
    /* background-color: gray; */
    display: flex;
    position: relative;
    left: 20px;
    justify-content: space-between; 
    width: 500px; /* 設定一個寬度讓 space-between 有空間可以分配 */
    /* left: 100px; */
}

    .middle {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        }

    a.ordernow{
        
        color: #FAF3D3;
       
        border-radius: 50px;
     
        right: -35px;
        margin-right: 20px;
    }

    .middle a img.logo{
        width: 13%;
        display: block;
       margin: auto;
    }
    .icon{
        display: flex;
        position: relative;
    }
    .header .icons a img.burgericon{
        width: 100px;
        position: absolute;
        top: 13px;
        right:40px;
    }

    .header .right nav{
        /* background-color: gray; */
        display: flex;
        position: relative;
        left: 165px;
        justify-content: space-between; 
        width: 500px;
        padding:0;
        z-index: 1;
    }
    .orderbuttom{
        width: 140px;
        height: 44px;
        background-color: #CD2D1A;
        position: absolute;
        border-radius: 40px;
        top: 32px;
        right: 199px;   
    }
    .header .icons .usericon {
      height: 60px;
      width: 60px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 25px;
      right: 105px;
    }

    .header .icons .carticon {
      height: 50px;
      width: 50px;
      color: #201F1F;
      transition: color 0.3s;
      position: absolute;
      top: 32px;
      right:48px;
    }
     .banner {
    position: relative;
    width: 100%;
    height: auto;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;     
}
.filter{
    opacity: 40%;
    height: 782px;
}

.banner h1 {
    position: relative;
    z-index: 10;    
    color: #ffffff;
    font-size: 150px;
    text-align: center;
    padding-top: 500px;
    padding-right: 100px;
    color: #CD2D1A;
    line-height: 0.8;
    font-weight: 900;
    text-align: end;
}

.productsnav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    width: 64.3%;
    height: 130px;
    border-top:5px solid #CD2D1A ;
    border-bottom:5px solid #CD2D1A ;
    margin: 150px auto ;
}
.productsnav a{
    position: relative;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
    color: #413B3B;
}

.productsnav a::before {
  content: "";
  position: absolute;
  left:-69px;           
  top: 50%;
  transform: rotate(90deg);
  flex-direction: column;
  width: 40px;
  height: 5px;
  background-color: #413B3B;  
  border-radius: 50px;
}

  .productsnav a:first-child::before{
    content: none;
  }

/* 漢堡菜單列 */
.productcard h1{
    font-size: 120px;
    color: #336FA8;
    margin-left: 350px;
    margin-bottom: 100px;
}

.menuburgergrid{
    width: 75%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,300px);
   justify-content: center;
    margin: auto;
    /* border: 2px solid red; */
    gap: 50px;
    justify-content: space-evenly;
}

.menucard{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: #336FA8;
    font-size: 18px;
    font-weight: 600;
    
    /* border: 2px solid blue; */
}
.menupic img{
    width: 100%;
    height: 90%;
    padding-bottom:10px ;
}
.menutext{
    text-align: center;
}

.addcart{
    width: 200px;
    height: 53px;
    background-color: #CD2D1A;
    font-size: 25px;
    color: #FAF3D3;
    border: none;
    border-radius: 50px;
    margin: 40px;
    font-weight: 600;
}

.footer{
    width: 100%;
    height: 120px;
    background-color: #6593C0;
    display: flex;
    justify-content: center;
}

